version: "3.9"

services:
  api:
    build:
      context: .  
      dockerfile: firmness.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__DefaultConnection: "${CONNECTION_STRING}"
